
.jumbotron {
	text-align: center;
	background-color: white;
}


.navbar {
	border-bottom: 1px solid gold; 
	box-shadow: 0 0 3px 0 gold;
}

.menu {
	background-color: #F7EFD6;
	border: 1px dashed black;
}

@media (max-width: 700px) {
	.jumbologo { 
		height: 200px;
		margin-top: 20px;
	}
	.jumbotron p, .jumbotron h1, .jumbotron h2, 		.jumbotron h3, .btn  {
		font-size: 15px;
	}
	.map {
		height: 450px;
}

